<launch>
  <master auto="start"/>
  <!-- run visualise tools -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find raspimouse_navigation_2)/config/rviz_config.rviz"/>
  <node name="alpha_plot" pkg="rqt_plot" type="rqt_plot" args="/alpha/data /alpha_th/data"/>
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" args="/amcl"/>

  <!-- Run Map Server -->
  <arg name="map_file" default="$(find raspimouse_navigation_2)/map/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen"/>

  <!-- Run Move Base -->
  <include file="$(find raspimouse_navigation_2)/launch/run_move_base.launch"/>

  <!-- Run Amcl -->
  <include file="$(find raspimouse_navigation_2)/launch/run_amcl.launch"/>
</launch>
